*{
    box-sizing: border-box;
    background-color: #FFDEAD;
}

.container{
    display: grid;
   width: 700px;
   height: 700px;
   border: solid black;
}

.container > div{
    border: 1px solid gray;
}

.flexcontainer{
    display: flex;
    margin-left: 2em;
}

.slidercontainer{
    margin-right: 2em;
    margin-top: 5em;
}

.btn{
    padding: 1em 3.6em;
}
.hints{
    margin-top: 3em;
}